@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,400&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Work Sans', sans-serif;
    position: relative;
}

.dropbtn {
    background-color: #dba072;
    color: white;
    padding: 30px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 50%;
    top: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #dba072;
}
.main-contact_wrapper {
    font-family: 'Nunito', sans-serif;
    font-family: 'Work Sans', sans-serif;
    position: relative;
}
.dropdown {
    display: none;
}

.main_content_wrapper>#background_circle_1 {
    position: absolute;
    z-index: 3;
    width: 300px;
    top: 140px;
    left: 0px
}

#background_circle_1>#circle1 {
    width: 400px;
}

.main_content_wrapper>#background_circle_2 {
    position: absolute;
    left: 72%;
    top: 340px;
}

#background_circle_2>#circle2 {
    width: 450px;
}

.main_content_wrapper>#background_circle_3 {
    position: absolute;
    left: 640px;
    top: 600px;
}

#background_circle_3>#circle3 {
    width: 400px;
}

.main_content_wrapper>#background_circle_4 {
    position: absolute;
    left: 70%;
    top: 1130px;
}

#background_circle_4>#circle4 {
    width: 450px;
}

.main_content_wrapper>#background_circle_5 {
    position: absolute;
    left: 72%;
    top: 1650px;
}

#background_circle_5>#circle5 {
    width: 400px;
}

.main_content_wrapper>#background_circle_6 {
    position: absolute;
    left: 55%;
    top: 2330px;
}

.main_content_wrapper>#background_circle_7 {
    position: absolute;
    right: 1640px;
    top: 1350px;
    z-index: 1;
}

.main_content_wrapper {
    background-color: white;
}

.main-navbar_wrapper {
    background-color: #f2f2f2;
    width: 100%;
    height: 130px;
    box-shadow: 3px 3px 3px 3px #f2f2f2;
    display: flex;
}

.first-navbar_wrapper {
    width: 20%;
    height: 130px;
    text-align: center;
}

.second-navbar_wrapper {
    width: 80%;
    height: 130px;
    text-align: center;
    position: relative;
}

.first-navbar_wrapper>span {
    font-size: 400%;
    color: #cccccc;
    line-height: 130px;
    font-family: 'Anton', sans-serif;
}

.second-navbar_wrapper>img {
    margin-top: 22.5px;
    max-width: 100%;
    height: 87px;
}

.second-navbar_wrapper>.navbar-list_wrapper {
    position: absolute;
    font-size: 150%;
    color: white;
    font-family: 'Poiret One', cursive;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 130px;
    min-width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.navbar-list_wrapper>span {
    padding-left: 35px;
}

.navbar-list_wrapper>span>img {
    width: 25px;
    height: 22px;
}

.navbar-list_wrapper>#navbar-line {
    position: relative;
    display: inline-block;
    border: 1px solid white;
    height: 55px;
    top: 20px;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.navbar-list_wrapper>#before-line {
    padding-right: 25px;
}

.navbar-list_wrapper>#after-line {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;
}

/* =============NAVBAR ============*/

.main-about_wrapper {
    position: relative;
    top: 10px;
    width: 100%;
    display: flex;
    height: 1300px;
}

.about-content_wrapper1 {
    width: 50%;
}

.about-content_wrapper2 {
    width: 50%;
}

#pic_me {
    position: relative;
    height: 600px;
    width: 550px;
    border-radius: 5px;
    top: 55px;
    left: 20%;
}

/*================= STRUCTURE =============*/

.picme_wrapper {
    position: relative;
}

.about-cloud_wrapper {
    position: absolute;
    display: inline-block;
    background-color: white;
    opacity: 70%;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 5px;
    z-index: 1;
    width: 850px;
    padding-bottom: 10px;
    padding-top: 20px;
    white-space: nowrap;
    text-overflow: clip;
    margin-top: 120px;
    top: 0px;
    left: 550px;
    font-family: 'Nunito', sans-serif;
    font-size: 130%;
   
}

.about-cloud_wrapper>span {
    padding-left: 20px;
}

.background-circle4>img {
    width: 500px
}

.about-cloud_wrapper>.myname {
    font-size: 250%;
    color: black;
}

.about-cloud_wrapper>.specialization {
    font-size: 250%;
    color: #dba072;
}

.about-cloud_wrapper>.experience {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}

.about-cloud_wrapper>.seemyworks {
    font-size: 150%;
    padding-left: 550px;
    font-family: 'Roboto', sans-serif;
}

#icons_wrapper {
    display: inline-block;
}

#icons_wrapper>img {
    width: 40px;
    padding-left: 10px;
}

/* ============ Who i am cloud  and  background images============= */

.main-buttons_wrapper {
    position: absolute;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    left: 56%;
    height: 200px;
    text-align: right;
    top: 420px;
}

.main-buttons_wrapper>#freelancer {
    font-size: 230%;
    float: right;
}

.main-buttons_wrapper>#under-freelancer {
    font-size: 140%;
    float: left;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: #3b2d00;
}

.buttons-content_wrapper {
    position: absolute;
    width: 200px;
    top: 100px;
    left: 0px;
}

.buttons-content_wrapper>#hireme {
    width: 200px;
}

.buttons-content_wrapper>#cv {
    width: 200px;
}

.onbutton-text_wrapper1 {
    position: absolute;
    left: 60px;
    bottom: 35px;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: white;
}

.onbutton-text_wrapper2 {
    position: absolute;
    left: 230px;
    bottom: 35px;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: white;
}

/*=========Under who im cloud===========*/

.allabout-content_wrapper {
    padding-left: 22%;
    margin-top: 100px;
}

.title-aboutme {
    font-size: 250%;
    white-space: nowrap;
}

.over-under-about {
    font-size: 250%;
    color: #dba072;
    white-space: nowrap;
}

.about-lorem {
    font-size: 130%;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    color: #3b2d00;
}

.allabout-content_wrapper>.list {
    font-size: 120%;
    color: #3b2d00;
}

.easycode_wrapper {
    border: 1px solid black;
    position: relative;
    left: 10%;
    display: inline-block;
}

.easycode_wrapper>.easypic {
    position: absolute;
    left: 300px;
    bottom: 25px;
    transition: all .2s ease-in-out;
}

.easypic:hover {
    transform: scale(1.1);
}

.easycode_wrapper>#easycode {
    font-size: 140%;
    font-weight: 700;
    position: absolute;
    color: brown;
    white-space: nowrap;
    left: 0px;
    top: 0px;
}

.easypic>#code {
    position: absolute;
    width: 150px;
    white-space: nowrap;
    left: 0px;
    top: 0px;
}

/* =========== About me content ============ */

.skills_wrapper {
    position: relative;
    margin-left: 30px;
    border-radius: 5px;
    width: 650px;
    padding-left: 60px;
    opacity: 70%;
    box-shadow: 2px 2px 2px 2px gray;
    height: 620px;
    padding-top: 30px;
    top: 650px;
    left: 160px;
}

.title-skills {
    font-size: 250%;
}

.title-content {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    color: #3b2d00;
}

.back {
    background-color: #e2e6eb;
    height: 40px;
    width: 500px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}

.advanced_wrapper1 {
    background-color: #dba072;
    height: 41px;
    width: 500px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px gray;
    position: relative;
    bottom: 2px;
}

.advanced_wrapper1>div {
    text-align: right;
    font-size: 120%;
    color: white;
    font-family: 'Poiret One', cursive;
    position: absolute;
    left: 400px;
    top: 10px;
}

.advanced_wrapper2 {
    background-color: #dba072;
    height: 41px;
    width: 450px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px gray;
    position: relative;
    bottom: 2px;
}

.advanced_wrapper2>div {
    text-align: right;
    font-size: 120%;
    color: white;
    font-family: 'Poiret One', cursive;
    position: absolute;
    left: 370px;
    top: 10px;
}

.advanced_wrapper3 {
    background-color: #dba072;
    height: 41px;
    width: 450px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px gray;
    position: relative;
    bottom: 2px;
}

.advanced_wrapper3>div {
    text-align: right;
    font-size: 120%;
    color: white;
    font-family: 'Poiret One', cursive;
    position: absolute;
    left: 340px;
    top: 10px;
}

.advanced_wrapper4 {
    background-color: #dba072;
    height: 41px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px gray;
    position: relative;
    bottom: 2px;
}

.advanced_wrapper4>div {
    text-align: right;
    font-size: 120%;
    color: white;
    font-family: 'Poiret One', cursive;
    position: absolute;
    left: 170px;
    top: 10px
}

.advanced_wrapper5 {
    background-color: #dba072;
    height: 41px;
    width: 450px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px gray;
    position: relative;
    bottom: 2px;
}

.advanced_wrapper5>div {
    text-align: right;
    font-size: 120%;
    color: white;
    font-family: 'Poiret One', cursive;
    position: absolute;
    left: 360px;
    top: 10px
}

.advanced_wrapper6 {
    background-color: #dba072;
    height: 41px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px gray;
    position: relative;
    bottom: 2px;
}

.advanced_wrapper6>div {
    text-align: right;
    font-size: 120%;
    color: white;
    font-family: 'Poiret One', cursive;
    position: absolute;
    left: 200px;
    top: 10px
}

/* ============SKILLS CLOUD===========*/

.main-tools_wrapper {
    width: 100%;
    margin-top: 50px;
    background-image: url(pic/tło_gradient.png);
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 3;
}

.tools-contnet_wrapper1 {
    width: 100%;
    z-index: 3;
    padding-left: 5%;
}

#tools {
    font-size: 250%;
    padding-left: 10%;
}

#essentials {
    font-size: 250%;
    color: #dba072;
    padding-left: 10%;
}

.tools-contnet_wrapper2 {
    width: 100%;
    padding-top: 50px;
}

.essential-icons {
    margin-top: 40px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 0.5em gray;
    width: 120px;
    height: 120px;
    left: 9%;
    text-align: center;
    display: inline-block;
    margin-left: 1%;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    font-size: 90%;
    color: gray;
    transition: all .2s ease-in-out;
}

.essential-icons:hover {
    background-color: lightblue;
    transform: scale(1.2);
}

.essential-icons>img {
    width: 50px;
    line-height: 0px;
    padding-top: 12%;
    padding-bottom: 6px;
}

#styledcom {
    width: 60px;
    padding-top: 21%;
    padding-bottom: 0px;
}

/* ==========TOOLS ========= */

.myworks-main_wrapper {
    width: 100%;
    margin-top: 50px;
}

.myworks-content-wrapper1 {
    padding-left: 11%;
    margin-bottom: 60px;
}

.myworks-content-wrapper1>#myworks {
    font-size: 250%;
}

.myworks-content-wrapper2 {
    padding-left: 9%;
    display: inline-block;
    width: 91%;
}

.myworks-content-wrapper1>#portfolio {
    color: #dba072;
    font-size: 250%;
}

.myworks-content-wrapper1>#portfolio-content {
    font-size: 120%;
    color: #3b2d00;
}

.picelement {
    box-shadow: 2px 2px 0.5em gray;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 15px 0px 15px;
    margin-left: 2%;
    margin-bottom: 3%;
    position: relative;
    z-index: 0;
}

.picelement>img {
    width: 450px;
    height: 280px;
}

.portfolio-icons {
    text-align: right;
    z-index: 0;
}

.portfolio-icons>img {
    width: 50px;
    height: 50px;
}

.picelement:hover>.portfolio-icons>img {
    filter: contrast(500%);
}

.background-hover {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 353px;
    border-radius: 5px;
    width: 480px;
    background-color: rgba(219, 160, 114, 0.6);
    display: none;
}

#title-picelement {
    font-size: 250%;
    float: center;
    stroke-opacity: initial;
    padding-top: 40px;
}

#task {
    font-size: 150%;
}

#picelement-tools {
    font-size: 125%;
}

.picelement:hover>.background-hover {
    display: block;
}

.background-text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 1em black, 0 0 0.4em black;
}

/* ============= PORTFOLIO ================*/

.main-blog-content_wrapper {
    padding-left: 10%;
}

#background_circle_8 {
    position: absolute;
    bottom: 600px;
    left: 0;
    z-index: 3;
}

#circle8 {
    width: 400px;
    z-index: 3;
}

#blog-title {
    font-size: 250%;
}

#blog-description {
    font-size: 250%;
    color: #dba072;
}

.blog-content_wrapper1 {
    display: flex;
    padding-left: 10%;
    margin-top: 2%;
    width: 90%;
}

.blog-content_wrapper1>img {
    width: 450px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 0.5em gray;
    z-index: 3;
}

.title1-wrapper {
    padding-left: 3%;
}

#title-description1 {
    font-size: 250%;
    color: #dba072;
}

#title-description2 {
    font-size: 250%;
    color: #dba072;
}

#blogtitle1 {
    font-size: 250%;
}

#blogtitle2 {
    font-size: 250%;
}

.title1-wrapper>span {
    font-size: 120%;
    color: #3b2d00;
}

.title1-data1 {
    color: #dba072;
    padding-left: 50%;
}

.title1-readmore {
    color: #dba072;
    margin-left: 100px;
}

.title1-readmore:hover {
    color: lightgray;
}

/* ======== BLOG ========= */

.main-contact_wrapper {
    padding-top: 50px;
    margin-top: 50px;
    width: 100%;
    height: 550px;
    background-image: url(pic/tło_gradient.png);
    display: flex;
    position: relative;
}

#background_circle_9 {
    position: absolute;
    left: 1000px;
    bottom: 300px;
    z-index: 2;
}

#circle9 {
    width: 400px;
}

.contact-content_wrapper1 {
    width: 100%;
    min-width: 650px;
    height: 550px;
    padding-left: 10%;
    color: #3b2d00;
}

#contact_title {
    font-size: 250%;
    white-space: nowrap;
    color: black;
}

#contact_description {
    font-size: 135%;
    white-space: nowrap;
}

form {
    display: inline;
}

input[type=text] {
    width: 30%;
    min-width: 300px;
    border: none;
    border-radius: 5px;
    padding: 18px 20px;
    margin: 10px 0;
    ;
    box-shadow: 2px 2px 0.5em gray;
    display: inline-block;
    transition: all .2s ease-in-out;
}

input:hover {
    background-color: lightblue;
}

::placeholder {
    font-size: 150%;
}

textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    width: 35%;
    min-width: 300px;
    padding: 0px 20px;
    margin: 8px 0;
    box-shadow: 2px 2px 0.5em gray;
    font-family: 'Nunito', sans-serif;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    float: left;
}

.send_button {
    vertical-align: baseline;
    margin-top: 115px;
    position: relative;
    white-space: nowrap;
    display: flex;
    transition: all .2s ease-in-out;
}

.send_button:hover {
    transform: scale(1.05);
}

#send_button_pic {
    width: 200px;
    position: relative;
}

.send-button-text {
    position: absolute;
    text-align: center;
    top: 30px;
    left: 75px;
}

.send-button-text>span {
    font-size: 150%;
    color: white;
    font-family: 'Poiret One', cursive;
}

.right-side-contact-wrapper {
    position: relative;
    bottom: 550px;
    left: 60%;
    width: 500px;
}

.contact-picutre_wrapper {
    position: relative;
    left: 150px;
    display: inline;
}

#contact-pic {
    width: 350px;
    height: 320px;
    border-radius: 5px;
}

.contact-text-wrapper {
    text-align: right;
    width: 500px;
    font-size: 120%;
    color: #3b2d00;
}

.contact-cloud_wrapper {
    position: relative;
    display: flex;
    background-color: white;
    opacity: 70%;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    border-radius: 3px;
    font-size: 130%;
    z-index: 3;
    box-shadow: 2px 2px 0.5em gray;
    top: 200px;
    right: 180px;
}

#contact-icon {
    width: 80px;
    padding-right: 15px;
}

.contact-content-wrapper2-none {
    display: none;
}

#new-line-br-for-mobile {
    display: none;
}

@media only screen and (max-width: 1582px) {
    #pic_me {
        left: 10%;
    }
    .allabout-content_wrapper {
        padding-left: 10%;
    }
    .about-cloud_wrapper {
        left: 75%;
    }
    .main-buttons_wrapper {
        left: 70%;
    }
    .main_content_wrapper>#background_circle_2 {
        display: none;
    }
    .main_content_wrapper>#background_circle_4 {
        display: none;
    }
    .main_content_wrapper>#background_circle_6 {
        display: none;
    }
}

@media only screen and (max-width: 1420px) {
    .main_content_wrapper>#background_circle_1 {
        display: none;
    }
    .about-cloud_wrapper {
        position: absolute;
        width: 630px;
        top: 0px;
        left: 550px;
    }
    .main-buttons_wrapper {
        left: 58%;
    }
    .about-cloud_wrapper>.myname {
        font-size: 190%;
    }
    .about-cloud_wrapper>.specialization {
        font-size: 190%;
    }
    .about-cloud_wrapper>.seemyworks {
        padding-left: 320px;
    }
    .allabout-content_wrapper {
        padding-left: 5%;
    }
    .essential-icons {
        left: 2%;
    }
    .first-navbar_wrapper {
        display: none;
    }
    .navbar-list_wrapper {
        width: 100%;
    }
    .second-navbar_wrapper {
        width: 100%;
    }
    #menu_pic {
        width: 900px;
    }
    .skills_wrapper {
        width: 350px;
        padding-left: 25px;
        left: 15%;
    }
    .advanced_wrapper1 {
        width: 320px;
    }
    .skills_wrapper>.back {
        width: 320px;
    }
    .advanced_wrapper1>div {
        left: 220px;
    }
    .advanced_wrapper2 {
        width: 288px;
    }
    .advanced_wrapper2>div {
        left: 200px;
    }
    .advanced_wrapper3 {
        width: 288px;
    }
    .advanced_wrapper3>div {
        left: 170px;
    }
    .advanced_wrapper4 {
        width: 192px;
    }
    .advanced_wrapper4>div {
        left: 60px;
    }
    .advanced_wrapper5 {
        width: 288px;
    }
    .advanced_wrapper5>div {
        left: 190px;
    }
    .advanced_wrapper6 {
        width: 192px;
    }
    .advanced_wrapper6>div {
        left: 100px;
    }
    #background_circle_3 {
        display: none;
    }
    .blog-content_wrapper1 {
        padding-left: 3%;
    }
    #tools {
        padding-left: 5%;
    }
    #essentials {
        padding-left: 5%;
    }
    .main-tools_wrapper {
        width: 100%;
    }
    .essential-icons {
        margin: 1%;
    }
    .myworks-content-wrapper1 {
        padding-left: 3%;
    }
    .myworks-content-wrapper2 {
        padding-left: 0%;
        width: 100%;
    }
    .background-circle_9>#circle9 {
        display: none;
    }
    .background-circle_8>#circle8 {
        display: none;
    }
    .main-blog-content_wrapper {
        padding-left: 3%;
    }
    .contact-content_wrapper2 {
        width: 100px;
    }
    .contact-content_wrapper1 {
        padding-left: 3%;
    }
    .picelement {
        margin: 2px;
    }
    .main-contact_wrapper {
        height: 1100px;
    }
    .right-side-contact-wrapper {
        bottom: 60px;
        left: 25%;
    }
    #circle8 {
        display: none;
    }
    #circle9 {
        display: none;
    }
    .main_content_wrapper>#background_circle_5 {
        display: none;
    }
    .send_button {
        display: inline-block;
    }
}

@media only screen and (max-width: 1200px) {
    .about-cloud_wrapper {
        position: absolute;
        width: 630px;
        top: 0px;
        left: 440px;
    }
    .main-about_wrapper {
        height: 1300px;
    }
}

@media only screen and (max-width: 1084px) {
    .main-about_wrapper {
        display: block;
        padding-top: 200px;
    }
    .main-tools_wrapper {
        margin-top: 750px;
    }
    .skills_wrapper {
        top: 60px;
    }
    .about-cloud_wrapper {
        left: 20px;
        top: 250px;
        opacity: 90%;
    }
    .main-buttons_wrapper {
        left: 120px;
        top: 20px;
    }
}

@media only screen and (max-width: 968px) {
    .first-navbar_wrapper {
        display: flex;
        width: 15%;
    }
    .navbar-list_wrapper {
        width: 65%;
    }
    .second-navbar_wrapper {
        width: 625px;
    }
    .essential-icons {
        left: 2%;
    }
    .send_button {
        display: flex;
    }
    .skills_wrapper {
        margin-top: 50px;
        right: 400px;
    }
    .blog-content_wrapper1 {
        display: block;
    }
    .background-circle_8>#circle8 {
        display: none;
    }
    
}

@media only screen and (max-width: 744px) {
    #pic_me {
        width: 370px;
        height: 420px;
    }
    .main-buttons_wrapper {
        display: none;
    }
    .about-cloud_wrapper {
        position: relative;
        top: -330px;
        left: 3%;
    }
    .blog-content_wrapper1>img {
        width: 100%;
    }
    .about-lorem>br {
        display: none;
    }
    .about-lorem {
        white-space: pre-line;
        width: 100%;
    }
    .about-content_wrapper1 {
        width: 100%;
    }
    .easycode {
        position: relative;
        right: 500px;
    }
    .picelement>img {
        width: 350px;
        height: 200px;
    }
    .background-hover {
        width: 380px;
        height: 273px;
    }
    .send_button {
        top: 75px;
        right: 190px;
    }
    .easycode_wrapper>.easypic {
        left: 150px;
    }
    .contact-cloud_wrapper {
        right: 0px;
    }
    .right-side-contact-wrapper {
        left: 0px;
        bottom: 0px;
        width: 400px;
    }
    #contact-pic {
        width: 320px;
        height: 300px;
    }
    .contact-picutre_wrapper {
        left: 30px;
    }
    .main-contact_wrapper {
        height: 1200px;
    }
    .contact-text-wrapper {
        text-align: center;
        display: inline-block;
        width: 400px;
    }
    .contact-cloud_wrapper {
        width: 380px;
        top: 290px;
    }
    #new-line-br-for-mobile {
        display: flex;
    }
    #contact_description br {
        display: none;
    }
    #contact_description {
        white-space: normal;
    }
    .contact-content_wrapper1 {
        min-width: 20px;
    }
    .skills_wrapper {
        width: 350px;
        padding-left: 10px;
        right: 420px;
    }
    .advanced_wrapper1 {
        width: 320px;
    }
    .skills_wrapper>.back {
        width: 320px;
    }
    .advanced_wrapper1>div {
        left: 220px;
    }
    .advanced_wrapper2 {
        width: 288px;
    }
    .advanced_wrapper2>div {
        left: 200px;
    }
    .advanced_wrapper3 {
        width: 288px;
    }
    .advanced_wrapper3>div {
        left: 170px;
    }
    .advanced_wrapper4 {
        width: 192px;
    }
    .advanced_wrapper4>div {
        left: 60px;
    }
    .advanced_wrapper5 {
        width: 288px;
    }
    .advanced_wrapper5>div {
        left: 190px;
    }
    .advanced_wrapper6 {
        width: 192px;
    }
    .advanced_wrapper6>div {
        left: 100px;
    }
    .easycode_wrapper {
        left: 0%;
        display: block;
        border: none;
        font-size: 15px;
    }
    .easypic {
        left: 155px;
        bottom: 0px;
        top: 30px;
    }
    .about-cloud_wrapper>br {
        display: none;
    }
    .about-cloud_wrapper {
        white-space: normal;
        width: 390px;
        position: absolute;
        margin-top: 130px;
        height: 220px;
    }
    .about-cloud_wrapper>.myname {
        font-size: 170%;
    }
    .about-cloud_wrapper>.specialization {
        font-size: 170%;
    }
    .about-cloud_wrapper>.experience {
        font-size: 150%;
    }
    .about-cloud_wrapper>.seemyworks {
        font-size: 150%;
        padding-left: 80px;
        position: absolute;
        top: 200px;
        left: 40px;
    }
    #icons_wrapper {
        position: absolute;
        top: 195px;
        left: 280px;
    }
    .picme_wrapper {
        position: relative;
    }
    .first-navbar_wrapper {
        width: 100%;
    }
    .second-navbar_wrapper {
        display: none;
    }
    .dropdown {
        display: block;
        z-index: 99;
    }
    .about-content_wrapper2 {
        width: 1px;
    }
    .main-tools_wrapper {
        margin-top: 500px;
    }
}
    @media only screen and (max-width: 595px) {
        .main-tools_wrapper {
            margin-top: 600px;
        }
    }
    @media only screen and (max-width: 375px) {
        .about-cloud_wrapper {
            width: 360px;
            left: 5px;
        }
        #icons_wrapper {
            top: 130px;  
        }
        .main-tools_wrapper {
            margin-top: 650px;
        }
        .skills_wrapper>.back {
            width: 270px;
        }
        .about-cloud_wrapper>.seemyworks {
            left: 40px;
            top: 180px;
        }
        #pic_me {
            width: 350px;
            left: 2.5%;
        }
        .skills_wrapper {
            right: 385px;
            padding-right: 0px;
            width: 340px;
        }
        .picelement>img {
            width: 320px;
            height: 170px;
        }
        .background-hover {
            width: 350px;
            height: 243px;
        }
        .right-side-contact-wrapper {
            width: 350px;
        }
        .contact-cloud_wrapper {
            width: 330px;
            padding: 0px
        }
        .contact-text-wrapper {
            width: 350px;
            position: relative;
            right: 3%;
        }
        #contact-pic {
            position: relative;
            right: 7%;
        }
    }
        @media only screen and (max-width: 375px) {
            .dropbtn {
                position: relative;
                right: 20px;
                padding: 30px;
            }
            .about-cloud_wrapper {
                width: 300px;
                white-space: normal;
                font-size: 80%;
                border: none;
            }
            #icons_wrapper {
                left: 143px;
                top: 210px;
            }
            #pic_me {
                width: 300px;
                height: 350px;
            }
            .skills_wrapper {
                right: 330px;
                width: 280px;   
                top: 150px;            
                margin: 0px;
            }
            .advanced_wrapper1 {
                width: 270px;
            }
            .back {
                width: 270px;
            }
            .advanced_wrapper1>div {
                left: 170px;
            }
            .advanced_wrapper2 {
                width: 243px;
            }
            .advanced_wrapper2>div {
                left: 160px;
            }
            .advanced_wrapper3 {
                width: 243px;
            }
            .advanced_wrapper3>div {
                left: 130px;
            }
            .advanced_wrapper4 {
                width: 180px;
            }
            .advanced_wrapper4>div {
                left: 60px;
            }
            .advanced_wrapper5 {
                width: 243px;
            }
            .advanced_wrapper5>div {
                left: 150px;
            }
            .advanced_wrapper6 {
                width: 180px;
            }
            .advanced_wrapper6>div {
                left: 90px;
            }
            .essential-icons {
                left: 2%;
            }
            .picelement {
                width: 270px;
            }
            .picelement>img {
                width: 270px;
                height: 170px;
            }
            .background-hover {
                width: 300px;
                height: 243px;
            }
            .background-text {
                top: 8%;
            }
            .title1-data1 {
                padding-left: 30%;
            }
            input[type=text] {
                min-width: 240px;
            }
            textarea {
                min-width: 240px;
            }
            #contact-pic {
                width: 280px;
                right: 8%;
            }
            .contact-cloud_wrapper {
                font-size: 120%;
                width: 300px;
                right: 2%;
            }
            .contact-text-wrapper {
                width: 300px;
                position: relative;
                right: 3%;
            }
        }